### **Przykłady podstawowe.**

In [ ]:
#Wyświetlanie zmiennej
wielkosc = 5
print(wielkosc)

5

In [ ]:
#funkcja if i porównywanie zmiennych
if wielkosc >6:
    print("ale duze")
elif wielkosc < 3:
    print("malutkie")
    print('franek')
else:
    print("w sam raz")

w sam raz

In [ ]:
#tworzenie i wyświetlanie tablicy
studenci = ["Ania", "Zosia", "Kasia", "Franek"]

print(studenci)

['Ania', 'Zosia', 'Kasia', 'Franek']

In [ ]:
#tablica dwuwymiarowa
studenci[0][1]

'Ania'

In [ ]:
#warianty użycia funkcji if w zależności od ilości elementów w tablicy
for student in studenci:
    print("student ma na imie:", student)
    
for student in studenci:
    print(student)
    if student[0]=="A":
        print("student na poczatku alfabetu")

for numer in range(10):
    print(numer)

student ma na imie: Ania
student ma na imie: Zosia
student ma na imie: Kasia
student ma na imie: Franek
Ania
student na poczatku alfabetu
Zosia
Kasia
Franek
0
1
2
3
4
5
6
7
8
9

In [ ]:
#funkcja enumerate w pythonie, wyswietla indeksy i nazwy w tablicy
for numer, student in enumerate(studenci):
    print("student {} ma numer {}".format(student,numer))

student Ania ma numer 0
student Zosia ma numer 1
student Kasia ma numer 2
student Franek ma numer 3

In [ ]:
#wyswietlanie danych z dwóch różnych tabel, na dwa różne sposoby
#funkcja zip, która łączy dwie tabele w jedną

oceny = [2,2,5,3]

for numer, student in enumerate(studenci):
    print("student {} ma numer {} i ocenę {}".format(student,numer,oceny[numer]))

print("--"*20)    
for number, (student, ocena) in enumerate(zip(studenci,oceny)):
    print("student {} ma numer {} i ocenę {}".format(student,number,ocena))

student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3
----------------------------------------
student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3

In [ ]:
#przypisywanie elementow tablicy to wielu zmiennych
trzy_elementy= [1,2,3]
pierwszy,drugi,trzeci= trzy_elementy

In [ ]:
#petla while
n = 1
while(n < 10):
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9

In [ ]:
#definicja funkcji oraz lambda (funkcja lokalna)
def dodaj_dwa(liczba):
    return liczba+2

def dodaj_trzy(liczba):
    return liczba+3

def dodaj_dwie_liczby(liczba1,liczba2)
    return liczba1+liczba2


dodaj_cztery = lambda liczba:liczba+4

In [ ]:
funkcje=[dodaj_dwa,dodaj_trzy,dodaj_cztery]

jakis_nr= 10

for funkcja in funkcje:
    print(funkcja(jakis_nr))

12
13
14

In [ ]:
#warianty wyswietlania tablicy
studenci[0]
studenci[1:]
studenci[:-1]

['Ania', 'Zosia', 'Kasia']

### **Część związana z zadaniami.**

In [ ]:
#### challenge 0.1
zajecia = ["wf","informatyka","relax","mispy","piateczek"]
dnityg= ["Pon","Wto","Sro","Czwar","Pio"]

# wyprintuj zajecia od srody do piatku
print("Zajęcia od środy do piątku:", zajecia[2:])

# wyprintuj oprocz srody
# sprawdzanie czy wystepuje element "Sro", jezeli tak to pomiń
for numerzajecia, nazwadnia in enumerate(dnityg):
  if nazwadnia == 'Sro':
    continue
  else:
    print("Zajecie: {}, Dzien tygodnia: {} ".format(zajecia[numerzajecia], nazwadnia))

Zajęcia od środy do piątku: ['relax', 'mispy', 'piateczek']
Zajecie: wf, Dzien tygodnia: Pon
Zajecie: informatyka, Dzien tygodnia: Wto
Zajecie: mispy, Dzien tygodnia: Czwar
Zajecie: piateczek, Dzien tygodnia: Pio

In [ ]:
#### challenge 0.2
zajecia = [["wf"],
           ["informatyka", "nauka czytania"],
           ["relax", "jedzenie"],
           ["mispy","mispy w domu"],
           ["piateczek", "praca domowa z mispow", "Ilovemispy", "mispy w czasie snu"]
          ]
dnityg= ["Pon","Wto","Sro","Czwar","Pio"]

# zdefiniuj funkcje ktora poda ile jest zajec danego dnia
#z wykorzystaniem funkcji enumerate - zmienna "daydzien" przechowuje nazwe dnia, zmienna "liczbadni" przechowuje indeks dnia, którego obliczana jest liczba elementów za pomocą funkcji "len" 
def zlicz(zajecia,dnityg):
  for liczbadni, daydzien in enumerate(dnityg):
    print("Liczba zajęć w {} : {}".format(daydzien, len(zajecia[liczbadni])))
zlicz(zajecia,dnityg)
print('---'*8)

# lista_zajec_z_dnia -> ile ich jest
#podobna funkcja do powyzszej, ale dodatkowo podaje zajecia w danym dniu "zajecia[liczbadni]"
def zlicz2(zajecia,dnityg):
  for liczbadni, daydzien in enumerate(dnityg):
    print("Zajęcia w {} (liczba zajęć {}) : {} ".format(daydzien, len(zajecia[liczbadni]), zajecia[liczbadni]))
zlicz2(zajecia,dnityg)
print('---'*8)

# po
# posortuj dni po najbardziej zajetych
# petla for zlicza liczbe zajec w danym dniu, następnie łączy (zipuje) liczbę zajęć w dniu, nazwe dnia i zajęcia z dnia w jedną zmienna, na koniec lista jest sortowana malejąco i wyswietlane są po najbardziej zajetych
liczbazajecc = [0]*5
for dziennumer,dziendzien in enumerate(dnityg):
  liczbazajecc[dziennumer] = len(zajecia[dziennumer])
zaj = list(zip(liczbazajecc,dnityg,zajecia))
zaj = sorted(zaj, reverse=True)
print(zaj)

print('---'*8)
#### challenge 0.3
# napisz program ktory zdajdzie dzien z najwieksza iloscia 
# baza funkcji taka sama jak powyżej, sprawdzana jest największa liczba zajęć z wykorzystaniem funkcji "max"
temp1 = [0]*5
def zlicz3(zajecia,dnityg):
  for liczbadni, daydzien in enumerate(dnityg):
    temp1[liczbadni] = len(zajecia[liczbadni]) 
  print("Dzien z najwieksza iloscia zajec ({}) : {}".format(max(temp1), daydzien,))
zlicz3(zajecia,dnityg)
print('---'*8)

Liczba zajęć w Pon : 1
Liczba zajęć w Wto : 2
Liczba zajęć w Sro : 2
Liczba zajęć w Czwar : 2
Liczba zajęć w Pio : 4
------------------------
Zajęcia w Pon (liczba zajęć 1) : ['wf']
Zajęcia w Wto (liczba zajęć 2) : ['informatyka', 'nauka czytania']
Zajęcia w Sro (liczba zajęć 2) : ['relax', 'jedzenie']
Zajęcia w Czwar (liczba zajęć 2) : ['mispy', 'mispy w domu']
Zajęcia w Pio (liczba zajęć 4) : ['piateczek', 'praca domowa z mispow', 'Ilovemispy', 'mispy w czasie snu']
------------------------
[(4, 'Pio', ['piateczek', 'praca domowa z mispow', 'Ilovemispy', 'mispy w czasie snu']), (2, 'Wto', ['informatyka', 'nauka czytania']), (2, 'Sro', ['relax', 'jedzenie']), (2, 'Czwar', ['mispy', 'mispy w domu']), (1, 'Pon', ['wf'])]
------------------------
Dzien z najwieksza iloscia zajec (4) : Pio
------------------------

# Dodatkowy *przyklad*

In [ ]:
len(zajecia)

zajecia[4][1]

"Ma" in "MojaMaMa"

liczby=["22","11","33","100"]
liczby_i_nazwy= [("22","dwadziescia dwa"),
                 ("11","jedenascie"),
        ("33","trzydziesci trzy"),("100","sto")]
sorted(liczby)

sorted(liczby, key=int)

liczby_kolejnosc= enumerate(liczby)

def czy_jest_jeden(liczba):

    if "1" in liczba:
        return 1
    else:
        return 0
def na_liczbe(krotka):
         return int(krotka[0])
def na_liczbe_index(krotka):
         return int(krotka[1])    
sorted(liczby, key=czy_jest_jeden)
         
sorted(liczby_i_nazwy,key=na_liczbe)

sorted(liczby_kolejnosc,key=na_liczbe_index)

[(1, '11'), (0, '22'), (2, '33'), (3, '100')]

In [ ]:
sorted(liczby_kolejnosc,key=)